body {
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    text-align: center;
}

h4{
    color: #46484c;
    text-align: center;
}

p{
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

form{
    text-align: center;
}

button {
    color: #fff;
    background-color: #025157;
}